nav{ 
display: flex;
align-items: center;
justify-content: space-between;
margin: 0 180px;

}



.Header {
    background-image: url(../images/Hero-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: al;

}

h3{
 font-size:xx-large ;
font-weight: 600;
 
}


.raleway {
  font-family: "Raleway", sans-serif;
  font-size:  25px;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  fill: #252432;
}



.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: 34px;
  font-weight:black;
  font-style: normal;
  color: #4E47FF;
  line-height: 200%;
}
.sign {
    font-family: "Raleway", sans-serif;
    background-color: #4E47FF;
    color: white;
    padding: 10px 30px;
    text-align: center;
    border-radius: 5px;
    border: none;
}
.stay {
    font-family: "Raleway", sans-serif;
    background-color: #4E47FF;
    color: white;
    padding: 10px 30px;
    text-align: center;
    border-radius: 5px;
    border: none;
}

.see{
 font-family: "Raleway", sans-serif;
  font-size:  22px;
  font-weight: bold;
  font-style: normal;
  text-align: left; 
  color:#252432 ;  
}
.light{
 font-family: "Raleway", sans-serif;
  font-size:  12px;
  font-style: normal;
  text-align: left top; 
  fill:50% #252432 ;   
  font-weight:normal; 
}
.launch{
font-family: "Raleway", sans-serif;
    background-color: #4E47FF;
    color: white;
    padding: 5px 25px;
    text-align: center;
    border-radius: 5px;
    border: none;
}
.align{
    align-self: center;
    display: flex;
align-items: center;
justify-content: space-between;
margin: 0 180px;

}
.user{
  font-family: "Raleway", sans-serif;
  font-size:  38px;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  fill: #252432;  
  text-align: center;
}
.whole{
    alignment-baseline:central;
  margin: 5px 150px; 
  padding: 50px 141px ; 
  background-color:#479dff80 ;
  border-radius: 24px;
}
.center{
    display: flex;
align-items: center;
justify-content: space-between;  
text-align: center; 
}
.letter{
 font-family: "Inter", sans-serif;
  font-size:80px;
  font-weight:bold;
  font-style: normal;
  color: #4E47FF;   
}
.small{
    
font-family: "Inter", sans-serif;
  font-optical-sizing: 20px;
  text-align: center;
  color: #000000;
}